/* Colloquery stylesheet */

body {
    font-family: sans;
    font-size: 12px;
    background: #c5c0c0;
}

#header {
    margin-left: auto;
    margin-right: auto;
    background: url(logo.png);
    background-size: 320px;
    background-repeat: no-repeat;
    width: 320px;
    height: 80px;
    text-align: center;
}

#contents {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#footer {
    margin-top: 100px;
    font-size: 80%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1,h2,h3,a {
    color: #681a1a
}

#searchform ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 25px;
    padding: 0px;
}
#searchform ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
label[for="id_text"] {
    display: none;
}
#id_text {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

label {
    display: inline-block;
    font-variant: small-caps;
    font-size: 90%;
    font-weight: bold;
}
input[type="text"] {
    font-size: 120%;
    border-radius: 20px;
    padding: 5px;
}
input[type="submit"] {
    background: #681a1a;
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 120%;
}
ul.errorlist {
    font-size: 80%;
    color: #bf1a1a;
}

table#results {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#results thead th {
    background: #723636;
    color: white;
    padding: 5px;
    text-align: center;
}
#results thead th.source {
    width: 25%;
    border-top-left-radius: 15px;
}
#results thead th.target {
    width: 30%
}
#results td {
    padding: 5px;
}
#results td.source {
    background: #eeeeee;
    font-size: 110%;
    cursor: pointer;
}
#results td.samesource {
    background: transparent;
}
#results td.target {
    background: #eeeeee;
    color: #790303;
    font-size: 110%;
    padding-left: 20px;
    cursor: pointer;
}
#results thead th.freq {
    width: 10%;
}
#results thead th.revprob {
    border-top-right-radius: 15px;
}
#results tbody td.sfreq {
    text-align: right;
    font-style: italic;
    color: #1d126d;
}    
#results tbody td.tfreq {
    text-align: right;
    font-style: italic;
    color: #790303;
}    
#results tbody td.prob, #results tbody td.revprob {
    text-align: right;
    font-style: italic;
    color: black;
}
#results tbody {
    background: #e5d7d7;
}
#results tr:hover {
    background: #d0b8b8;
}
#results tr:hover td.source, #results tr:hover td.target {
    background: #ffffff;
}
#paginator {
    text-align: center;
}
#noresults {
    padding: 20px;
    border: 1px dashed #723636;
    color: #723636;
    font-size: 110%;
    text-align: center;
}
