/* Colloquery stylesheet */

body {
    font-family: sans;
    font-size: 12px;
    background: #c5c0c0;
}

#header {
    margin-left: auto;
    margin-right: auto;
    background: url(logo.png);
    background-size: 320px;
    background-repeat: no-repeat;
    width: 320px;
    height: 80px;
    text-align: center;
}

#contents {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#footer {
    margin-top: 100px;
    font-size: 80%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1,h2,h3,a {
    color: #681a1a
}
