<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>Colloquery</title>
        <!--<script type="text/javascript" src="/style/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/style/jquery-ui.min.js"></script>
        <link rel="StyleSheet" href="/style/jquery-ui.min.css" type="text/css" />-->
        <link rel="StyleSheet" href="/static/colloquery.css" type="text/css" />
        <!--<script type="text/javascript" src="/style/colloquery.js"></script>-->
        <script type="text/javascript">
            {% if mode %}
            mode = "{{ mode }}";
            {% endif %}
            {% if collection %}
            collection = "{{ collection }}";
            {% endif %}
            {% if maxsources %}
            maxsources = {{ maxsources }};
            {% else %}
            maxsources = 250;
            {% endif %}
            function prevpage() {
                var e = document.getElementsByName("skip")[0];
                e.value = parseInt(e.value) - maxsources;
                document.searchform.submit();
            };
            function nextpage() {
                var e = document.getElementsByName("skip")[0];
                e.value = parseInt(e.value) + maxsources;
                document.searchform.submit();
            };
            function sourceclick(e) {
                document.getElementsByName("skip")[0].value = "0";
                document.getElementById("id_text").value = e.innerHTML;
                document.getElementById("id_bykeyword").checked = false;
                document.searchform.submit();
            }
            function targetclick(e) {
                document.getElementsByName("skip")[0].value = "0";
                document.getElementById("id_text").value = e.innerHTML;
                var collectionfield = document.getElementById("id_collection");
                var index = collectionfield.options.selectedIndex;
                var newmode = mode; //unchanged for synonyms
                if (mode == 'F') {
                    newmode = 'R';
                } else if (mode == 'R') {
                    newmode = 'F';
                }
                collectionfield.value = newmode + collection;
                document.getElementById("id_bykeyword").checked = false;
                document.searchform.submit();
            }
            {% block js %}
            {% endblock js %}
        </script>
    </head>
    <body>
        <div id="header">
        </div>
        <div id="contents">
        {% block contents %}
        {% endblock contents %}
        </div>
        <div id="footer">
            <strong>Colloquery</strong> (v{{ version }}) - for <strong><a href="http://vandale.nl">van Dale</a></strong> by Maarten van Gompel - <a href="http://www.ru.nl/clst">Centre for Language and Speech Technology</a> - Radboud University Nijmegen
        </div>
    </body>
</html>
