<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>Colloquery</title>
        <!--<script type="text/javascript" src="/style/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/style/jquery-ui.min.js"></script>
        <link rel="StyleSheet" href="/style/jquery-ui.min.css" type="text/css" />-->
        <link rel="StyleSheet" href="/style/colloquery.css" type="text/css" />
        <!--<script type="text/javascript" src="/style/colloquery.js"></script>-->
        <script type="text/javascript">
            {% block js %}
            {% endblock js %}
        </script>
    </head>
    <body>
        {% block contents %}
        {% endblock contents %}
        <div id="footer">
            <strong>Colloquery</strong> ({{ version }}) - by Maarten van Gompel - Centre for Language and Speech Technology - Radboud University Nijmegen
        </div>
    </body>
</html>
